{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Zelda Breath of the Wild</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla pellentesque enim, in fringilla libero consequat ac. Morbi malesuada nisl eu lacus sollicitudin facilisis. Donec semper imperdiet leo, nec fermentum magna rutrum accumsan. Pellentesque eget mauris id odio sagittis mollis non id elit. Ut vulputate mauris eget tempus vestibulum. Pellentesque aliquet magna id sem posuere condimentum. Pellentesque eu erat quam. Vestibulum maximus quam quis dictum faucibus. Cras sapien elit, aliquet ac efficitur vitae, posuere id ipsum. Duis sit amet ultricies diam.</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/botw.jpg" class="img-thumbnail" />
    </div>

</div>

{{> footer }}